name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ${{matrix.os}} 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:

    - name: Set up Go 1.13 on ${{matrix.os}}
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      env: 
        GO111MODULE: on
      run: go mod download

    - name: Vet
      run: go vet ./...

    - name: Lint
      run: go get -u golang.org/x/lint/golint && golint ./...

    - name: Test
      run: go test -mod=readonly ./...

    - name: Race test
      run: go test -mod=readonly -count 2 -race ./...